<mat-card>
  <h1>Add New Quiz</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form (ngSubmit)="addQuiz()">
          <mat-form-field class="w100">
            <mat-label>Enter Title</mat-label>
            <input [(ngModel)]="quiz.title" type="text" name="title" placeholder="Enter title" required matInput/>
          </mat-form-field>
          <mat-form-field class="w100" appearance="fill">
            <mat-label>Enter Description</mat-label>
            <textarea [(ngModel)]="quiz.discription" name="Description" type="text" cols="30" rows="5" placeholder="Enter here" matInput></textarea>
          </mat-form-field>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="w100">
                <mat-label>Maximum Marks</mat-label>
                <input [(ngModel)]="quiz.maxMarks" type="number" name="Maxmarks" placeholder="Enter title" matInput/>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w100">
                <mat-label>Number of Questions</mat-label>
                <input [(ngModel)]="quiz.numberOfQuestion" type="number" name="numberOfQuestions" placeholder="Enter title" matInput/>
              </mat-form-field>
            </div>
          </div>
          <mat-slide-toggle [(ngModel)]="quiz.active" class="mt20 mb20">publish status</mat-slide-toggle>
          <mat-form-field appearance="fill" class="mt20 w100">
            <mat-label>Categories</mat-label>
            <mat-select name="category" [(ngModel)]="quiz.cid">
              <mat-option *ngFor="let c of categories" [value]="c.cid">
                {{c.catTitle}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="container text-center mb20">
            <button mat-raised-button color="accent" type="submit">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
{{quiz | json}}
