<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 colored-border" style="margin-top: 70px; text-align: center;">
            <h2 class="display-4" style="margin: 40px; color: brown; font-size: 200%;">!! Welcome to the Exam Portal !!</h2>
           
            <div style="text-align: center;">
                <img src="./assets/books.jpg" width="50%" height="50%" alt="Your Image">
            </div>           
            <p class="lead" style="margin-top: 30px; color: blueviolet;">Prepare for your exams with ease.</p> 
        </div>
    </div>
</div>
