<mat-card>
    <mat-action-list>
        <div mat-subheader >Menu
        <button mat-list-item routerLink="/admin/"><mat-icon mat-list-icon>home</mat-icon><span>Home</span></button>
        <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon> Profile</button>
        <button mat-list-item routerLink="/admin/viewcategory">
            <mat-icon mat-list-icon>list</mat-icon> Category</button>
        <button mat-list-item routerLink="/admin/add_category">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon>Add Category</button>
        <button mat-list-item  routerLink="/admin/quizess">
            <mat-icon mat-list-icon>quize</mat-icon>Quizes</button>
        <button mat-list-item><mat-icon mat-list-icon>add</mat-icon>Add Quizes</button>
        <button mat-list-item><mat-icon mat-list-icon>logout</mat-icon>Logout</button>
    </div>
    </mat-action-list>
</mat-card>