.rounded-image {
    border-radius: 50%;
    width: 80px; /* Set the width */
    height: 80px; /* Set the height */
  }
 /* styles.css */

.form-container {
  width: 100%;
}

.full-width {
  width: 100%;
}

.full-width-input {
  width: 100%;
}

.colored-border {
  border: 2px solid #424242; /* You can replace #4285f4 with your desired border color */
  padding: 20px;
  border-radius: 10px;
}
